<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,166},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,332},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,498},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,664},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,830},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>264_en.png</string>
            <key>size</key>
            <string>{126,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2359f7fa3e7b47d29ff716b969508f6c:534f68d3fe93d35701ddbe9816f68f7b:a5fb3d6d5ebe8db84ea0286e51118b9a$</string>
            <key>textureFileName</key>
            <string>264_en.png</string>
        </dict>
    </dict>
</plist>
