<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11030.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>12030.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>13030.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>14030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>15030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>18030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30_en.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:221ace4211761aad64321b7a74ea8b67:4ab89b5d8a9a464f0a7b8465b63ce498:de50af65f10c922f22825b6545ff799a$</string>
            <key>textureFileName</key>
            <string>30_en.png</string>
        </dict>
    </dict>
</plist>
