<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,166},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,332},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,498},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,664},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{0,830},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>374_en.png</string>
            <key>size</key>
            <string>{126,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d816cbadf3fd15f77d1613b0d1ee7b:4c759d78e487f8be9054487fe69a622e:8e491122d23e30653f9de57774ba27e2$</string>
            <key>textureFileName</key>
            <string>374_en.png</string>
        </dict>
    </dict>
</plist>
