<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11037.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>12037.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>13037.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>14037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>15037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>18037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>37_en.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c23cca9dbd7bb2c1eed1fc5714623326:61bb1cda418eff88c6ee80ee3dbc3692:ccadf54a882bfc8222f59c3d8d5e570d$</string>
            <key>textureFileName</key>
            <string>37_en.png</string>
        </dict>
    </dict>
</plist>
