<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{2,170},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{2,338},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{130,2},{126,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{298,2},{126,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{130,130},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>43_en.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2484909d256c02870f663d60b0c3e2ee:bcbcb1818855125a9f8f9ee86ab7f9d5:61655cacd559151865e083a3c485deb1$</string>
            <key>textureFileName</key>
            <string>43_en.png</string>
        </dict>
    </dict>
</plist>
