<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{129,1},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{1,169},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{129,169},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{1,337},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{129,337},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>460_en.png</string>
            <key>size</key>
            <string>{256,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f011c0360819cc3ee87dfa08a2a66d:0393b6b8b715472dc0cc23ea8f1e0481:6f8c9bfad7a43ea1d7a061f2b0855102$</string>
            <key>textureFileName</key>
            <string>460_en.png</string>
        </dict>
    </dict>
</plist>
