<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".cconb" mimeType="text/html" />
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
        </staticContent>
    </system.webServer>
</configuration>
